.arrow-down {
    cursor: pointer;
    bottom: 25px;
    color: white;
    position: absolute;
    text-align: center;
    margin: auto;
    left: 50%;
    padding-top: 12px;
    width: 40px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
}

.arrow-up {
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    display: table-cell;
    position: relative;
    color: rgb(38, 38, 71);
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(38, 38, 71);
    width: 40px;
    margin-top: 10px;
    height: 30px;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    font-size: 1.6em;
    font-weight: 400;
}

.arrow-down:hover {
    opacity: 70%;
}

.arrow-wrapper {
    display: flex;
}

section {
    min-height: 100%;
    height: 100%;
}

.textbox {
    width: 50%;
    padding-top: 100px;
    margin-top: -55px;
    margin-left: 15%;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    z-index: -1;
}

.textbox-title {
    font-size: 3em;
    color: rgb(54, 54, 112);
}

.textbox-title-line {
    background-color: rgb(38, 38, 71);
    width: 100px;
    height: 5px;
    margin-bottom: 20px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}


.percent-wrapper {
    height: 30px;
    border: 2px solid rgb(38, 38, 71);
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.percent-python {
    width: calc(90% - -10px);
    background-color: rgb(38, 38, 71);
    height: 100%;
    color: white;
    font-size: 1.5em;
    padding-left: 10px;
}

.percent-java {
    width: calc(40% - -10px);
    background-color: rgb(38, 38, 71);
    height: 100%;
    color: white;
    font-size: 1.5em;
    padding-left: 10px;
}

.percent-R {
    width: calc(70% - -10px);
    background-color: rgb(38, 38, 71);
    height: 100%;
    color: white;
    font-size: 1.5em;
    padding-left: 10px;
}

.arrow-down-about {
    cursor: pointer;
    bottom: 25px;
    color: rgb(38, 38, 71);
    position: absolute;
    text-align: center;
    margin: auto;
    left: 50%;
    padding-top: 12px;
    width: 40px;
    height: 30px;
    border: 2px solid rgb(38, 38, 71);
    border-radius: 50%;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio-wrapper {
    position: relative;
    color: white;
    pointer-events: none;
    cursor: default;
    z-index: 10;
}

.portfolio-item {
    width: 300px;
    text-align: center;
    background-color: #202061;
    height: 300px;
    display: inline-block;
    
}
.portfolio-item:hover{
    background-color: green;
}

.portfolio-item-img {
    height: 80%;
    margin-bottom: 7px;
    z-index: 3;

}

.container {
    position: absolute;
    top: 100%;
    height: 400px;
    width: 100%;
    left: 0;
    text-align: center;
}

.container2 {
    position: absolute;
    top: 200%;
    height: 400px;
    width: 100%;
    left: 0;
    text-align: center;
}